body {
width: 100%;
background-color :greenyellow;
margin: 0;
}
.watermello {
font-family: 'Arvo', serif;
}

.colour-different {
background-color: red;
position: sticky;
top:0;
}
img{
  padding-left: 10px;
  padding-right:30px;
  padding-top:40px;
  padding-bottom:100px;
  width: 300px;
  border: 10px ridge
  
  red;
}

a {
 text-decoration:none;
}
 table {
   margin:auto;
   border-collapse: collapse;
 }
table, tr, td, th {
   border:5px dashed red;


}

td, th, tr{
 padding: 20px;
 text-align:center;
}

tr:hover {
background-color: red;
color: antiquewhite;
}

.overlay{
  background-image: url("watermelon.jpeg");
  background-size:contain;
  text-align: center;
  color:greenyellow;
  font-size: 50px;
}
  
  


 
 

  
